.header{
    background-color: blueviolet;
    color: white;
    display: flex;  
    flex-direction: column;

    
    gap: 2em;
}

.fondoRojo{
    background-color: red;
}
.fondoSalmon{
    background-color: salmon;   
}

.fs-1{
    font-size: 2rem;
}
.w-100{
    width: 100%;
}

.d-flex{
    display: flex;
 }
 .centerX{
    justify-content: center;
 }
 .certerY{
    align-items: center;
 }  
 .buscador {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 0.5em;
    border-radius: 0.5em;
input {
    height: 2.5em;
    border: none;
    padding: 0.5em;
}
    
}
.cuadrado {
width: 2.5em;
height: 2.5em;
background-color: aliceblue;
border-radius: 0.5em;
display: flex;
justify-content: center;
align-items: center;
color: aqua;
}

 
 